<div>

    <h1 class="container text-center pt-5 mb-5">
        Рассылки
    </h1>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">pk</th>
                <th scope="col">Название</th>
                <th scope="col">Начало</th>
                <th scope="col">Конец</th>
                <th scope="col">Статус</th>
                <th scope="col">Сообщение</th>
                {% if not perms.mailing.change_mailing %}
                <th scope="col">Номер клиента</th>
                <th scope="col">Количество</th>
                {% else %}
                <th scope="col">Пользователь</th>
                {% endif %}
                <th scope="col">Последний раз</th>
                <th scope="col">Действие</th>
                {% if not perms.mailing.change_mailing %}
                <th scope="col">Начать</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for object in mailing_list %}
            <tr>
                <th scope="row">{{ object.mailing.pk }}</th>
                <td>{{ object.mailing.name }}</td>
                <td>{{ object.mailing.data_mailing }}</td>
                <td>{{ object.mailing.data_mailing_finish }}</td>
                <td>{{ object.mailing.status }}</td>
                <td>{{ object.message.title }}</td>
                {% if not perms.mailing.change_mailing %}
                <td>{{ object.number_of_clients }}</td>
                <td>{{ object.number_of_times }}</td>
                {% else %}
                <td>{{ object.mailing.user }}</td>
                {% endif %}
                <td>{{ object.last_time.datatime }}</td>
                <th>


                    <a href="{% url 'mailing_info' object.mailing.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Подробнее
                    </a>
                    {% if not perms.mailing.change_mailing %}
                    <a href="{% url 'mailing_delete' object.mailing.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Удалить
                    </a>
                    <a href="{% url 'mailing_finish' object.mailing.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Завершить
                    </a>
                    {% else %}
                    <a href="{% url 'mailing_change_status' object.mailing.pk %}" type="button"
                       class="btn btn-sm btn-outline-secondary">Отменить
                    </a>
                    {% endif %}

                </th>
                {% if not perms.mailing.change_mailing %}
                <th>


                    {% if object.ready %}
                    <form action="{% url 'mailing_go' object.mailing.pk %}" method="post">


                        {% csrf_token %}
                        <button class="btn btn-sm btn-primary" type="submit" value="TEST">Начать</button>
                    </form>
                    {% endif %}


                </th>
                {% endif %}
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <div class="row">
            {% if not perms.mailing.change_mailing %}
            <div class="col-3"></div>
            <a class="btn btn-primary btn-lg px-4 gap-3 mb-3 col-6 d-flex flex-wrap align-items-center justify-content-center"
               href="{% url 'mailing_form' %}" role="button">Создать новую рассылку
            </a>
            {% endif %}
        </div>
    </div>
    {% if number_finished_mailings %}
    <div class="container mb-5 mt-5">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Список завершенных рассылок  (Всего - {{ number_finished_mailings }} рассылок)
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">pk</th>
                                <th scope="col">Название</th>
                                <th scope="col">Статус</th>
                                <th scope="col">Сообщение</th>
                                {% if not perms.mailing.change_mailing %}
                                <th scope="col">Номер клиента</th>
                                <th scope="col">Количество</th>
                                {% else %}
                                <th scope="col">Пользователь</th>
                                {% endif %}
                                <th scope="col">Последний раз</th>
                                <th scope="col">Действия</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for object in finished_list %}
                            <tr>
                                <th scope="row">{{ object.mailing.pk }}</th>
                                <td>{{ object.mailing.name }}</td>

                                <td>{{ object.mailing.status }}</td>
                                <td>{{ object.message.title }}</td>
                                {% if not perms.mailing.change_mailing %}
                                <td>{{ object.number_of_clients }}</td>
                                <td>{{ object.number_of_times }}</td>
                                {% else %}
                                <td>{{ object.mailing.user }}</td>
                                {% endif %}
                                <td>{{ object.last_time.datatime }}</td>
                                <th>


                                    <a href="{% url 'mailing_info' object.mailing.pk %}" type="button"
                                       class="btn btn-sm btn-outline-secondary">Смотреть
                                    </a>
                                    {% if not perms.mailing.change_mailing %}
                                    {% if object.mailing.status != 'Canceled' %}
                                    <a href="{% url 'mailing_again' object.mailing.pk %}" type="button"
                                       class="btn btn-sm btn-outline-secondary">Повторить
                                    </a>
                                    {% endif %}
                                    {% else %}
                                    {% if object.mailing.status == 'Canceled' %}
                                    <a href="{% url 'mailing_change_status' object.mailing.pk %}" type="button"
                                       class="btn btn-sm btn-outline-secondary">Включить
                                    </a>
                                    {% endif %}
                                    {% endif %}

                                </th>

                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>
{% endif %}
