<div class="px-4 py-5 my-5 text-center">

    <h1 class="display-5 fw-bold text-body-emphasis">Рассылки</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Сайт для рассылки сообщений</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {% if user.is_authenticated %}
            {% if perms.mailing.change_mailing %}
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'mailing_list' %}" role="button">Все рассылки</a>
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'moderator_users' %}" role="button">Все пользователи</a>
            {% else %}
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'mailing_list' %}" role="button">Показать рассылки</a>
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'mailing_form' %}" role="button">Создать новую рассылку</a>
            {% endif %}
            {% else %}
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'login' %}" role="button">Вход</a>
            <a class="btn btn-outline-secondary btn-lg px-4" href="{% url 'register' %}" role="button">Регистрация</a>
            {% endif %}

        </div>
    </div>
</div>
