<div class="px-4 py-5 my-5 text-center">

    <h1 class="display-5 fw-bold text-body-emphasis">Блог</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Вы можете добавлять статьи</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {% if perms.article.change_article %}
            <a class="btn btn-primary btn-lg px-4 gap-3" href="{% url 'article_form' %}" role="button">Добавить новую статью</a>
            {% endif %}
        </div>
    </div>
</div>